/* src/css/HomePage.css */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px; /* Adjust padding to move the content up */
  background: linear-gradient(135deg, #a8e063, #56ab2f); /* Green gradient */
  color: #000; /* Change text color to black */
  animation: slideIn 1s ease-in-out;
}

.hero-text {
  max-width: 600px;
  animation: fadeIn 2s ease-in-out;
  color: #000; /* Ensure text is black */
  font-family:'Edu AU VIC WA NT Hand', sans-serif;
  margin-top: -20px; 
  margin-right:200px;
  margin-left: 150px;
}

.hero-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text .btn.shop-now-button {
  background-color: #fff;
  color: #56ab2f;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
}

.hero-text .btn.shop-now-button:hover {
  background-color: #56ab2f;
  color: #fff;
}

.hero-image {
  animation: fadeIn 3s ease-in-out;
  margin-top: -30px; /* Move image up */
}

.hero-image img {
  max-width: 60%;
  height: auto;
}

.categories-section-container {
  padding: 50px;
  background-color: #f7f7f7;
}
